# General Ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.vscode/
.idea/
node_modules/
.DS_Store

# Ignore Large Data & Models
models/
Dataset/
File/
archive/

# Ignore large/binary specific extensions just in case
*.keras
*.h5
*.pkl
*.npy

# Allow Code Directories
!Backend/
!Frontend/
!scripts/
!src/

# Allow root config files
!requirements.txt
!README.md
!main.py

__pycache__/
*.pyc
node_modules/
.DS_Store
.vscode/
